@media only screen and (min-width: 768px) {
  /* Main Padding */
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* Navigation Bar */
  .navbar__content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
    background: none;
    width: auto;
    height: auto;
    padding: 0;
  }

  .navbar__desktop-icon {
    display: block;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    border: none;
    padding: 0;
  }

  #hamburger {
    display: none;
  }

  #cross-icon {
    display: none;
  }

  #msg-box {
    display: block;
  }

  #msg-box img {
    display: block;
  }

  /* Hero Section */
  #hero {
    background-image: url(../img/bkg/hero-bkg-desktop.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45%;
  }

  .hero__heading {
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
  }

  .hero__subHead {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .hero__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 60%;
  }

  .hero__social {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    gap: 20px;
    margin: -60px;
  }

  /* Work Section */
  .work__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .work__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 600px;
  }

  /* Main Card */
  .work__mainCard {
    flex-direction: row;
  }

  #poster {
    width: 60%;
    height: auto;
  }

  .work__mainCard__content {
    width: 60%;
  }

  /* Sub Card */
  .subCard--btn {
    display: none;
  }

  .work__subCard__content:hover > .subCard--btn {
    display: block;
  }

  .work__subCard:hover {
    outline: #091e42 2px solid;
  }

  /* About Me */
  #about {
    background: var(--light-dark);
  }

  .about-content {
    background-image: url("../img/bkg/about-me-bkg-desktop.svg");
    background-position: center right;
    background-size: 45%;
  }

  .about-content__desc {
    width: 50%;
  }

  .about-tech__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-tech__content--tech-list {
    align-items: flex-start;
  }

  /* Contact Us */
  .contact {
    flex-direction: row;
    align-items: flex-start;
    padding: 100px;
  }

  .contact__form {
    align-items: flex-start;
  }

  .contact__heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    width: 60%;
    text-align: left;
  }

  /* Animation */
  .navbar__logo:hover {
    transform: scale(1.1);
    color: var(--orange);
  }

  .navbar__desktop-icon:hover {
    color: var(--orange);
  }

  .hero__social--link img:hover {
    transform: scale(1.3);
    filter: invert(57%) sepia(84%) saturate(4485%) hue-rotate(0deg) brightness(103%) contrast(105%);
  }

  .contact__social-footer__list img:hover {
    transform: scale(1.3);
    filter: invert(57%) sepia(84%) saturate(4485%) hue-rotate(0deg) brightness(103%) contrast(105%);
  }
}
