@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Meera+Inimai&family=Poppins&family=Roboto&display=swap");

:root {
  --light-grey: #3c3a39;
  --dark: #1c1a19;
  --orange: #ff6b00;
  --white: #fff;
  --cream: #fff5e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 24px;
}

/* Nav Section */
#nav {
  background-color: var(--light-grey);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 12px 0;
  color: var(--white);
}

.nav__hamburger:hover {
  cursor: pointer;
}

/* Hero Section */
#hero {
  background-color: var(--dark);
  background-image: url(../img/bkg/hero-bkg-mob.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  gap: 12px;
  justify-content: center;
}

.hero__heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: var(--orange);
}

.hero__subHead {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--cream);
}

.hero__desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.hero__social {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 20px;
}
