@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Meera+Inimai&family=Poppins&family=Roboto&display=swap");

:root {
    --light-grey: #3c3a39;
    --dark: #1c1a19;
    --orange: #ff6b00;
    --btn-enable: #F55800;
    --btn-hover: #FFF5E1;
    --btn-press: #E05304;
    --btn-disable: #F4F1F0;
    --white: #fff;
    --dark-font: #091E42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Section */
#navbar {
    background-color: var(--light-grey);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 12px 0;
    color: var(--white);
}

.navbar__hamburger:hover {
    cursor: pointer;
}

/* Hero Section */
#hero {
    background-color: var(--dark);
    background-image: url(../img/bkg/hero-bkg-mob.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.hero {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
    gap: 12px;
    justify-content: center;
}

.hero__heading {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: var(--orange);
}

.hero__subHead {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--btn-hover);
}

.hero__desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.hero__social {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 20px;
}

/* Work Section */
.work {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__title {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #1C1A19;
    margin: 120px 0 40px;
}

.work__underline {
    width: 100%;
    height: 0.5px;
    background: #212121;
    margin-bottom: 80px;
}

/* Main Card */
.work__mainCard {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#poster {
    max-width: 100%;
}

.work__mainCard__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.work__mainCard--heading {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: var(--dark-font);
}

.work__mainCard--desc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-font);
}

.work__mainCard__tech {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

.mainCard__tech-name {
    border: solid #8993A4 1px;
    padding: 10px 12px;
}

.tech-name-black {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--dark-font);
}

.mainCard--btn {
    max-width: 124px;
}

/* Sub Card Grid */

.work__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    grid-gap: 24px 24px;
}

/* Sub Card */
.work__subCard {
    display: flex;
    flex-direction: column;
}

.work__subCard__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../img/cards/sub-card.svg);
    max-width: 327px;
    background-repeat: no-repeat;
    padding: 84px 12px 22px 12px;
}

.work__subCard--heading {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
}

.work__subCard--decs {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.work__subCard__tech {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

.subCard__tech-name {
    background: rgba(255, 255, 255, 0.24);
    padding: 10px 12px;
}

.tech-name-white {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.subCard--btn {
    max-width: 327px;
}