/* Main padding */
.container {
  padding-left: 24px;
  padding-right: 24px;
}

/* Buttons */
.btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  border: none;
  color: #fff;
  background-color: var(--btn-enable);
}

.btn:hover {
  color: var(--btn-enable);
  background-color: var(--btn-hover);
  box-shadow: 0 0 0 1.5px var(--btn-enable) inset;
}

/* Line */
.line {
  width: 100%;
  height: 0.5px;
}

.line-black {
  background: #212121;
  margin-bottom: 80px;
}

.line-white {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 128px;
}

/* Shapes */
#diamond {
  width: 18px;
  height: 18px;
  background: var(--orange);
  transform: rotate(-45deg);
}

#square {
  width: 18px;
  height: 18px;
  background: var(--orange);
}

#circle {
  width: 18px;
  height: 18px;
  background: var(--orange);
  border-radius: 150px;
}
