/* Main padding */
.container {
    padding: 0 24px;
}

/* Buttons */
.btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding: 12px;
    border: none;
    color: #FFFFFF;
    background-color: var(--btn-enable);
}

.btn:hover {
    color: var(--btn-enable);
    background-color: var(--btn-hover);
    box-shadow:0px 0px 0px 1px var(--btn-enable) inset;
}